@import 'bg_image';

$small-height: 94px;
$small-card-width: 68px;
$small-char-width: 71px;

$medium-card-height: 174px;
$medium-card-width: 124px;

$full-char-height: 376px;
$full-char-width: 284px;

.small-card {
    @include bg-image($small-card-width, $small-height);
    margin: 0px;
}
.medium-card {
    @include bg-image($medium-card-width, $medium-card-height);
    margin: 0px;
}
.character-thumbnail {
    @include bg-image($small-char-width, $small-height);
    margin: 0px;
}
.character {
    @include bg-image($full-char-width, $full-char-height);
    margin: 0px;
}

.card-fan {
    ul {
        position: relative;
        margin: 0px;
        padding: 0px;
    }
    li {
        display: inline-block;
        list-style-type: none;
        position: absolute;
    }
    li:first-child {
        position: relative;
        left: 0px;
    }
}