
.notification-container {
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top:5px;
    margin-bottom:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.notification {
    margin-bottom:5px;
    padding: 3px;
}
.notification-box {
    background: #f8faff;
    border: 1px solid black;
    border-radius: 6px;
    padding: 3px;
}
.notification-header {
    font-size: 1em;
    margin-top: 2px;
    margin-bottom: 2px;
}
.notification-text {
    text-align: center;
}
.notification-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.alert.notification {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}