.deck-col {
    padding-right: 0px;
    padding-left: 0px;
}
.small-card {
    background-size: 68px 94px;
    width: 68px;
    height: 94px;
    margin: 0px;
}
.medium-card {
    background-size: 124px 174px;
    width: 124px;
    height: 174px;
    margin: 0px;
}
.card-list {
    width: 750px;
}
.character {
    background-size: 142px 188px;
    width: 142px;
    height: 188px;
    margin: 0px;
}
.character-thumbnail {
    background-size: 71px 94px;
    width: 71px;
    height: 94px;
    margin: 0px;
}
.center {
    margin-right: auto;
    margin-left: auto; 
    text-align:center;
}
.deck {
    display: inline-block;
    width: 100%;
}
.card-icons {
    text-align:center;
    float: right;
    font-size: 15px;
    width: 25px;
    height: 100%;
}
.activate-icon {
    background-image: url(/static/images/activate.png);
    background-size: 23px 23px;
    width: 23px;
    height: 23px;
    margin: 1px;
}
.buy-icon {
    background-image: url(/static/images/buy.png);
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}
.examine-icon {
    background-image: url(/static/images/examine.png);
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}
.pick-icon {
    background-image: url(/static/images/pick.png);
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}
.play-icon {
    background-image: url(/static/images/play.png);
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}
.deck-counter {
    background-image: url(/static/images/count_background.png);
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}
.deck-icons p {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    width: 25px;
    height: 25px;
}
.opponent {
    border: 2px solid;
    border-radius: 25px;
}
.option-button {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.options {
    width: 300px;
}
.vcenter {
    vertical-align: middle;
}

.row-container {
    display: flex;
    align-items: center;
    margin: 5px;
}
.alert.notification {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.notification-container {
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    margin:15px;
}
.modal-dialog{
  width:800px;
}
.tooltip-inner{
  max-width:100%;
}
.tooltip.in {
    opacity: 1;
}
.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}