.deck-col {
    padding-right: 0px;
    padding-left: 0px;
}
.small-card {
    background-size: 68px 94px;
    width: 68px;
    height: 94px;
    margin: 0px;
}
.medium-card {
    background-size: 124px 174px;
    width: 124px;
    height: 174px;
    margin: 0px;
}
.card-list {
    width: 750px;
}
.character {
    background-size: 284px 376px;
    width: 284px;
    height: 376px;
    margin: 0px;
}
.character-thumbnail {
    background-size: 71px 94px;
    width: 71px;
    height: 94px;
    margin: 0px;
}
.center {
    margin-right: auto;
    margin-left: auto; 
    text-align:center;
}
.deck {
    display: inline-block;
    width: 100%;
}
.card-icons {
    text-align:center;
    float: right;
    font-size: 15px;
    width: 25px;
    height: 100%;
}
.activate-icon {
    background-image: url(/static/images/activate.png);
    background-size: 23px 23px;
    width: 23px;
    height: 23px;
    margin: 1px;
}
.buy-icon {
    background-image: url(/static/images/buy.png);
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}
.examine-icon {
    background-image: url(/static/images/examine.png);
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}
.pick-icon {
    background-image: url(/static/images/pick.png);
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}
.play-icon {
    background-image: url(/static/images/play.png);
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}
.deck-counter {
    background-image: url(/static/images/count_background.png);
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
}
.deck-icons p {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    width: 25px;
    height: 25px;
}
.header-fieldset {
    border: 2px groove threedface;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
.legend-header {
    width:auto;
    border-bottom: 0px;
    margin-bottom: 0px;
}
.option-button {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.options {
    width: 300px;
}
.vcenter {
    vertical-align: middle;
}

.row-container {
    display: flex;
    align-items: center;
    margin: 5px;
}
.character-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.character-box {
    margin: 5px;
}
.alert.notification {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.notification-container {
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    margin:15px;
}
.modal-dialog{
  width:800px;
}
.tooltip-inner{
  max-width:100%;
}
.tooltip.in {
    opacity: 1;
}
.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.picker-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
    opacity: .5;
}
.picker {
    text-align: center;
}
.picker-control.right {
    right: 0;
    left: auto;
}
.picker-control .icon-prev {
    top: 50%;
    z-index: 5;
    display: inline-block;
    left: 50%;
    margin-left: -15px;
}
.picker-control .icon-next {
    top: 50%;
    z-index: 5;
    display: inline-block;
    right: 50%;
    margin-right: -15px;
}
.picker-control .icon-prev:before {
    content: '\2039';
}
.picker-control .icon-next:before {
    content: '\203a';
}
.icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
} 
.icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
}
.header-bar {
    height: 63px;
    position: relative;
    margin-bottom: 10px;
}
.header-buttons {
    height: 45px;
    top:50%;
    margin-top: -22px;
}