<h2>Lobby #{{lobby.id}}</h2>
<button ng-click="startGame();">Start Game</button>

<div>
    <h1>You are: {{lobby.you.name}} as {{lobby.you.character.name}}</h1>
    <input ng-model="newName" />
    <button ng-click="changeName()">Change Name</button>
    <character character="lobby.you.character" thumbnail="true"></character>
    <input ng-model="newCharacter" />
    <button ng-click="changeCharacter()">Change Character</button>
</div>
<div style="margin-left:25px;margin-right:25px;">
    <div class="row-container" ng-repeat="player in lobby.allPlayers">
        <character character="player.character" thumbnail="true"></character>
        <h2 style="vertical-align: middle;">{{player.name}}</h2>
    </div>
</div>