<div>
    <div class="bg-primary col-md-12 header-bar">
        <div class="col-md-8">
            <h2>Lobby #{{lobby.id}}</h2>
        </div>
        <div class="col-md-4 header-buttons" style="text-align: center;">
            <button ng-click="lobbyWrapper.startGame();" class="btn btn-primary btn-lg">Start Game</button>
        </div>
    </div>
    <div class="col-md-9">
        <lobby-player-settings lobby="lobby" lobby-wrapper="lobbyWrapper" class="col-md-12"></lobby-player-settings>
        <lobby-players lobby="lobby" class="col-md-12"></lobby-players>
    </div>
    <lobby-settings lobby="lobby" class="col-md-3"></lobby-settings>
</div>