<div>
    <div class="bg-primary col-md-12 header-bar">
        <div class="col-md-8">
            <h2>Lobby #{{lobby.id}}</h2>
        </div>
        <div class="col-md-4 header-buttons" style="text-align: center;">
            <button ng-click="lobbyWrapper.startGame();" class="btn btn-primary btn-lg">Start Game</button>
        </div>
    </div>
    <div class="col-md-9">
        <lobby-player-settings lobby="lobby" lobby-wrapper="lobbyWrapper" class="col-md-12"></lobby-player-settings>
        <div class="col-md-12" style="margin-left:25px;margin-right:25px;">
            <div class="row-container" ng-repeat="player in lobby.allPlayers">
                <character character="player.character" thumbnail="true"></character>
                <h2 style="vertical-align: middle;">{{player.name}}</h2>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <deck-picker name="Main Deck" deck="lobby.gamemode.MAIN" role="MAIN"></deck-picker>
        <deck-picker name="Kick" deck="lobby.gamemode.KICK" role="KICK"></deck-picker>
        <deck-picker name="Weakness" deck="lobby.gamemode.WEAKNESS" role="WEAKNESS"></deck-picker>
        <deck-picker name="Super Villain" deck="lobby.gamemode.SUPERVILLAIN" role="SUPERVILLAIN"></deck-picker>
        <villain-count-picker name="Super Villain Count" villain-count-info="lobby.gamemode.numberOfVillains"></villain-count-picker>
    </div>
</div>