<div>
    <div class="col-md-12">
        <div class="col-md-6">
            <input ng-model="newName" />
            <button ng-click="lobbyWrapper.changeName(newName)">Change Name</button>
        </div>
        <div class="col-md-6">
            <deck-picker name="Starting Deck" deck="lobby.you.starting" role="STARTING"></deck-picker>
        </div>
        <div class="clearfix visible-md-block"></div>
    </div>
    <character-selection lobby="lobby" lobby-wrapper="lobbyWrapper" class="col-md-12"></character-selection>
</div>