<div>
    <card-image size="size" image="card.imageUrl" title="{{card.name}}|{{card.cost}}">
        <div ng-transclude>
        </div>
        <div>
            <action-card-icon ng-repeat="action in card.actions"></action-card_icon>
        </div>
        <examine-card-icon ng-show="!!card && !deck" ng-controller="ExamineCardIconController"></examine-card-icon>
        <examine-deck-icon ng-show="!!deck" ng-controller="ExamineDeckIconController"></examine-deck-icon>
    </card-image>
</div>