<div>
    <div ng-class="{character:!thumbnail, 'character-thumbnail':thumbnail}" style="background-image: url({{character.imageUrl}});" ng-show="character.active">
        <card-icons>
            <div>
                <action-card-icon ng-repeat="action in character.actions"></action-card_icon>
            </div>
            <examine-character-icon ng-controller="ExamineCharacterIconController"></examine-character-icon>
        </card-icons>
    </div>
    <div ng-hide="character.active">
        <card-image image="'static/images/background.jpg'" size="thumbnail && 'small' || 'medium'"></card-image>
    </div>
</div>