<div style="display: inline-block; width: 100%;">
    <action-card action="action" action-arguments="args" card="deck.cards[0]" index="0">
        <div style="text-align:center;position:absolute;top: 0px; right: 25px;font-size: 15px; background-image: url(static/images/count_background.png); background-size: 25px 25px; width: 25px; height: 25px;" ng-show="deck.cards.length > 0">
            <p style="display: table-cell; width: 25px; height: 25px; vertical-align: middle; text-align:center;">{{deck.cards.length}}</p>
        </div>
    </action-card>
</div>