<div class="col-md-3">
    <div class="col-md-6 deck-col">
        <div class="row-container">
            <character character="player.character" thumbnail="true"></character>
            <h2 style="vertical-align: middle;">{{player.name}}</h2>
        </div>
    </div>
    <div class="col-md-2 deck-col">
        <deck deck="player.deck" size="'small'"></deck>
    </div>
    <div class="col-md-2 deck-col">
        <deck deck="player.discardPile" size="'small'"></deck>
    </div>
    <div class="clearfix visible-md-block"></div>
</div>