<div>
    <header-div header="Played">
        <div class="center">
            <deck deck="extraPlayedCards" actions="actions" size="'medium'" ng-if="extraPlayedCards.count > 0" class="pull-left"></deck>
            <card-list cards="cardsToShow" actions="actions"></card-list>
            <card-list cards="activatables" actions="actions" size="small"></card-list>
        </div>
    </header-div>
    <!--<card-group header="Played" cards="cards" actions="actions"></card-group>-->
</div>