<div class="col-md-12 deck-col">
    <div class="col-md-12">
        <div class="col-md-6">
            <h2>Power: {{game.turn.power}}</h2>
            <button ng-click="endTurn();" ng-show="game.you.isTurn && !playersPendingActions">Done</button>
        </div>
        <div class="col-md-6">
            <h2 ng-hide="game.turn.modifier === 1">x{{game.turn.modifier}}</h2>
        </div>
    </div>
    <div class="col-md-6">
        <character character="game.you.character" actions="actions"></character>
    </div>
</div>