<div>
    <header-div header="{{isYou && 'You' || player.name}}">
        <div class="col-md-3 deck-col">
            <div class="row-container">
                <character character="player.character" thumbnail="true" actions="actions"></character>
            </div>
        </div>
        <div class="col-md-3 deck-col">
            <deck deck="player.deck" size="'small'"></deck>
        </div>
        <div class="col-md-3 deck-col">
            <deck deck="player.discardPile" size="'small'"></deck>
        </div>
        <div class="col-md-3 deck-col" ng-if="!isYou">
            <deck deck="player.hand" size="'small'"></deck>
        </div>
        <div class="clearfix visible-md-block"></div>
        <div class="col-md-12 deck-col">
            <ongoing></ongoing>
        </div>
        <div class="col-md-12 deck-col" ng-if="!isYou">
            <h3>{{player.pending}}</h3>
        </div>
    </header-div>
</div>