<style>
</style>

<div class="col-md-12">
    <div class="col-md-3">
        <deck deck="game.kicks" action="buyCard" action-arguments="'KICK'"></deck>
    </div>
    <div class="col-md-6">
        <div style="width:750px; margin-right: auto; margin-left: auto; text-align:center">
            <h1>Line Up</h1>
            <card-list cards="game.lineUp" action="buyCard" action-arguments="'LINE_UP'"></card-list>
        </div>
    </div>
</div>
<div class="clearfix visible-md-block"></div>

<div class="col-md-3">
    <div class="col-md-6">
        <deck deck="game.turn.discardPile"></deck>
    </div>
</div>
<div class="col-md-6">
    <div style="width:750px; margin-right: auto; margin-left: auto; text-align:center">
        <h2>Played</h2>
        <card-list cards="game.turn.played"></card-list>
        <h2>Ongoing</h2>
        <card-list cards="game.turn.ongoing"></card-list>
        <h2>Hand</h2>
        <card-list cards="game.turn.hand" action="playCard"></card-list>
    </div>
</div>
<div class="col-md-3">
    <h2>Power: {{game.turn.power}}</h2>
    <button ng-click="endTurn();">Done</button>
</div>
<div class="clearfix visible-md-block"></div>