<div class="col-md-12">
    <opponent ng-repeat="player in game.players"></opponent>
</div>
<div class="clearfix visible-md-block"></div>
<div class="col-md-12 deck-col">
    <div class="col-md-3 deck-col">
        <div class="col-md-4">
            <deck deck="game.mainDeck" actions="actions" size="'medium'"></deck>
        </div>
        <div class="col-md-4">
            <deck deck="game.weaknesses" actions="actions" size="'medium'"></deck>
        </div>
        <div class="col-md-4">
            <deck deck="game.destroyed" actions="actions" size="'medium'"></deck>
        </div>
    </div>
    <line-up></line-up>
    <div class="col-md-3">
        <div class="col-md-6">
            <deck deck="game.superVillains" actions="actions" size="'medium'"></deck>
        </div>
        <div class="col-md-6">
            <deck deck="game.kicks" actions="actions" size="'medium'"></deck>
        </div>
    </div>
</div>
<div class="clearfix visible-md-block"></div>

<div class="col-md-3">
    <div class="col-md-6">
        <deck deck="game.you.deck" size="'medium'"></deck>
    </div>
    <div class="col-md-6">
        <deck deck="game.you.discardPile" size="'medium'"></deck>
    </div>
</div>
<div class="col-md-6">
    <played></played>
    <ongoing></ongoing>
    <hand></hand>
</div>
<div class="col-md-3">
    <div class="col-md-12">
        <div class="col-md-6">
            <h2>Power: {{game.turn.power}}</h2>
            <button ng-click="endTurn();" ng-show="game.you.isTurn">Done</button>
        </div>
        <div class="col-md-6">
            <h2 ng-hide="game.turn.modifier === 1">x{{game.turn.modifier}}</h2>
        </div>
    </div>
    <div class="col-md-6">
        <character character="game.you.character" actions="actions"></character>
    </div>
</div>
<div class="clearfix visible-md-block"></div>
</div>