<style>
    .centered {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }
    .kaotable {
        height: 100%;
        display:table;
        vertical-align:middle;
    }
    .kaocell {
        display:table-cell;
        vertical-align:middle;
    }
</style>

<div class="centered kaotable">
    <div class="kaocell">
        <h1>Id: {{game.id}}</h1>
        <h2>Length: {{game.wordLength}}</h2>
        <h2>Points: {{game.points}}</h2>
        <button ng-click="startGame()">Start Game</button>
    </div>
</div>