<div>
    <div class="col-md-6">
        <deck deck="game.superVillains" actions="actions" display-top-card="true" size="'medium'"></deck>
    </div>
    <div class="col-md-6">
        <div class="col-md-6">
            <deck deck="game.mainDeck" actions="actions" size="'small'"></deck>
        </div>
        <div class="col-md-6">
            <deck deck="game.destroyed" actions="actions" size="'small'"></deck>
        </div>
        <div class="col-md-6">
            <deck deck="game.kicks" actions="actions" display-top-card="true" size="'small'"></deck>
        </div>
        <div class="col-md-6">
            <deck deck="game.weaknesses" actions="actions" display-top-card="true" size="'small'"></deck>
        </div>
    </div>
</div>