<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/stylesheets/game.css">
        <script src="/static/lib/angular.js"></script>
        <script src="/static/lib/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-cookies.js"></script>
        <script src="/static/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="/static/js/directives.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/controllers.js"></script>
    </head>
    <body ng-app="DeckBuilding">
        <div style="width: 100%; height: 100%;" ng-view></div>
    </body>
</html>