<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/stylesheets/game.css">
        <link rel="stylesheet" href="/static/stylesheets/panel.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-cookies.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
        <script src="/static/js/kao_select.js"></script>
        <script src="/static/js/services.js"></script>
        <script src="/static/js/directives.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/controllers.js"></script>
    </head>
    <body ng-app="DeckBuilding">
        <div style="width: 100%; height: 100%;" ng-view></div>
    </body>
</html>